<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="cache-control" content="no-cache" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">
    <title>강약 중강약</title>
    <style>
/*         
        @media screen and (max-width: 769px) {
            .header {height: 100px;}
            #logo_img {width: 200px; height: 100px;}
            .td_title {font-size:11px;}
        } */
        

    </style>
</head>
<body> 
    <div class="header">
        <a href="pillsList.html"> <img id="logo_img" src={{ url_for('static', filename='images/logo11.jpg') }} width="250px" height="130px"/> </a>
    </div>
    <div class="">            
    <form name="main_form" method="post" enctype="multipart/form-data" action="/post">
        <img width="14px;" src={{ url_for('static', filename='images/pill.png')}}/><span class="span_title">알약정보 입력</span>
         <div style="position:relative">
            <input type="file" name="pill_file" id="pill_file" onclick="removeFile()" onchange="changeFile(this)" accept=".jpg, .png"/>
            <button type="submit", class="btn_submit btn_file", value="Button"> 제출</button>
        </div>
        <div id="div_preview" style="text-align: center;">
            <img id="previewID" name="preview" src="{{url_for('static', filename=imgHtml)}}" width="300px;" style="max-width:100%; margin-top: 5px;" /></br>
        </div>
    </form>
    </div>

    <div style="margin-top: 10px;">
        <img width="14px;" src={{ url_for('static', filename='images/pill.png')}}/><span class="span_title">결과화면</span>
    </div>
<!--s 식별문자 입력란 -->
  <form name="main_form" method="result" enctype="multipart/form-data" action="/result">
    <div class="div_input" id="div_input">
      <td><input type="text" class="input_pill" name="pill_name" id="pill_name" placeholder="식별문자를 입력하세요"></td>
      <button type="submit", class="btn_submit", value="Button"> 제출</button>
    </div>
  </form>

    {%for i,j in testDataHtml.items() %}
      
        {% if (loop.index-1) % 2 == 0 %}
          <ul class="pili_ul">
          <li class="pili_li">
        {% endif %}
        <div class="card_wrap">
          {% if (loop.index-1) % 2 == 0 %}    
            <div class="card_left"> <!-- 알약결과(사진)-->
              <img id='pillImage' src={{ url_for('static', filename= j ) }}  width="100px"/>
            </div>               
          {% else %}          
            <div class="card_right">  <!-- 알약결과(이름)-->            
              <span class="sp_pill_name">{{i}}</span></br>
              <span class="sp_more" onclick="showDetails(this)">알약 세부사항 링크 확인하기</span>
            </div>
        </div>
            <div class="card_detail" id="detail" style="display: none;">  <!-- 알약결과(상세결과)-->              
              <a href={{j}} target='_blank'><span class="sp_link">네이버 약정보 확인</span></a>                
              </br>
            </div>
          {% endif %}
        {% if (loop.index-1) % 2 == 1 %}
          </li>
          </ul>
        {% endif %}
      
    {% endfor %}
    <br>
    <footer>
      <div class = "team" style="text-align: left; float : left"><p>2021-1학기  </br>캡스톤 디자인팀 강약중강약</p></div>
      <div class = "add"  style="text-align: right;"><p>(24252) 강원도 춘천시 한림대학길 1 </br>빅데이터전공 김한나 송기룡 윤소영 윤수정 함서은</p></div>
    </footer>
</body>

<script type="text/javascript">

  function removeFile() {
    document.getElementById('previewID').src = ""
  }

  function changeFile(file) {
    var reader = new FileReader();

		reader.onload = function (e) { //사용자가 업로드한 파일을 읽어오면
      document.getElementById('previewID').src = e.target.result //미리보기 이미지 변경                
		}
    reader.readAsDataURL(file.files[0])
  }

  function showDetails(e) {

    /*onclick이벤트를 li의 작성하였을 때 
      -> li 자식태그 중 'card_detail' class요소로 컨트롤
    */
    //obj = e.querySelector('.card_detail')   
    //e = e.querySelector('.sp_more')   

    /*onclick이벤트를 상세보기 span의 작성하였을 때 
      -> 부모노드인(li)태그를 찾은 후 li 자식노드인 'card_detail' class요소로 컨트롤
    */
    obj = e.parentElement.parentElement.parentElement.querySelector('.card_detail')

    if (obj.style.display=="") {
        obj.style.display="none";
        e.innerHTML = "알약 세부사항 링크 확인하기"
    }
    else {
        obj.style.display="";
        e.innerHTML = "상세내용닫기"
    }
  }
  
  function doSubmit() {
      var frm = document.main_form;
      var file_name = file.value;     
  } 

   /*
    * 파일이 변경되었을 때 호출되며, 파일검사
    * @param file : 업로드한 파일 정보
    */
    function fileCheck(file){
        var frm = document.main_form;
        var file_name = file.value;                                      //사용자가 첨부한 파일명
        var file_ext = file_name.substring(file_name.lastIndexOf('.'));  //사용자가 첨부한 파일확장자 (검사용)
        var max_byte = 10 * 1024 * 1024; // 10MB

        //사전체크 : 사용자가 업로드한 파일이 없으면 검사종료
        if (file_name == ""){
            frm.preview.src = ""                        //미리보기 이미지 초기화
            return;                                     //검사종료
        }
        
        var file_size = file.files[0].size;                              //사용자가 첨부한 파일크기

        if(file_size > max_byte) {
            alert("10MB를 초과하였습니다.");
            file.value = ""                             //사용자가 업로드한 파일을 초기화
            frm.preview.src = ""                        //미리보기 이미지 초기화
            return;
        }

        if (file_ext == ".jpg" || file_ext == ".png"){  //.jpg랑 .png만 업로드 가능

            //FileReader 객체는 서버에 이미지 업로드 안해도 미리보기 기능 구현 가능
			// 필수스펙 : Explorer 10이상 / Chrome 7이상 / Edge 12이상
			  var reader = new FileReader();

			  reader.onload = function (e) {              //사용자가 업로드한 파일을 읽어오면
                frm.preview.src = e.target.result       //미리보기 이미지 변경                
			  }
            reader.readAsDataURL(file.files[0])

        } else {
            alert("허용된 파일이 아님");
            file.value = ""                             //사용자가 업로드한 파일을 초기화
            frm.preview.src = ""                        //미리보기 이미지 초기화
        }
    }
</script>
</html>